{% extends 'base.html' %}
{% load static %}

{% block content %}

{# Подставляем содержимое файла inc-1.html #}
    {% include 'inc-menu.html' %}
    <img width="50px", src = "{% static 'django-custom.svg'%}" alt = "My image">
<h1 class="demo">Welcome to home page</h1>
    
<p><span style="text-decoration: underline;">Это главная страница сайта</span></p>
    
<span style="color: rgba(255, 0, 106, 0.699)">Меня зовут: <i>{{ name }}.</i> </span> <br>
E-mail для связи: <i>{{ email }}.</i> 

<p><em>Сайт находится в разработке</em></p>
{% endblock %}