{% extends 'base.html' %}

{% block style %}

    <style>
        li {
            display: inline-block;
            border: 1px solid blueviolet;
            padding: 10px 20px;
        }
        a{
            text-decoration: none;
            color: #2aaa9f;
        }
    </style>

{% endblock %}

{% block content%}
     <h2>Список товаров</h2>

     <ol>
        {% for item in items %}
            <li><a href='/item/{{ item.id }}'>{{ item.name }}</a>
            <p>
                {{ item.description }}
            </p>
            </li>
        {% endfor %}
     </ol>
{% end block %}
